<h1><%= @cat.name %> </h1>

<b> Cat Attributes </b>
  <ul>
    <% @cat.attributes.take(@cat.attributes.length - 2).each do |k,v| %>
      <li> <%= "#{k.capitalize} is #{v}" %> </li>
    <% end %>
  </ul>

<%= link_to "Edit Cat", edit_cat_path %>





<!-- <table>
  <tr> <% @cat.att
    <td> Cat Name</td>
    <td> Birthday </td>
     -->
